.job-entry {
  background: var(--tertiary);
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease-in-out, transform 0.4s ease;
}

.job-entry:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul li {
  color: var(--foreground);
}

ul li::marker {
  color: var(--secondary);
}
