@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #021526;
  --foreground: #e2e2b6;
  --secondary: #6eacda;
  --tertiary: #03346e;
  --font-montserat: "Montserrat", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserat), Arial, Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  @apply text-5xl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .inverted-colors {
    color: var(--background);
    background-color: var(--foreground);
    border-radius: 0.2rem;
  }
}

.nav-link {
  padding: 0.2rem 0.4rem;
}

.name,
.nav-link:hover,
.nav-link.active {
  @apply inverted-colors;
}

.name {
  @apply font-semibold;
}

@media (max-width: 768px) {
  h1 {
    @apply text-2xl;
  }
}
